/* 基本色 */
:root {
  --main-color : #B4CBD9;/*rgba(180, 203, 217, 0)*/
  --accent-color : #f2af05 ;/*rgba(242, 175, 2, 0)*/
  --dark-main-color : #333; /*rgba(51, 51, 51, 0)*/
  --gray-main-color : #ddd;
  --light-main-color : #fff;
  --text-bright-color : #f2f2f2; /*rgba(242, 242, 242, 0)*/

  --large-width:1000px;
  --midddle-width:800px;
  --small-width:600px;
}

/* pc */
@media  (max-width:830px){

    .jp p br {
      display: none!important;
    }
    
  }
