
a.anchor {
  padding-top: 0;
}

.conE {
  padding-top:5rem;
  padding-bottom: 5rem;
  margin-left:auto;
  margin-right:auto;
}

.conE .container {
  max-width:500px;
  max-width: var(--small-width);
  margin:0 auto;
  border-radius:6px;
  background-color:#f2f2f2;
}

.conE .frm{
  padding-top: 6rem;
  padding-bottom: 8rem;
  width: fit-content;
  margin: auto;
  text-align: center;
  width: 80%;
  padding-right: 2rem;
}

.conE .msg{
  height:10rem;
  resize: vertical;
  max-width: 992px;
  font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, 
    ".SFNSDisplay-Regular", "Hiragino Sans", "Hiragino Kaku Gothic ProN",
    Helvetica, "游ゴシック Medium", meiryo, sans-serif;
}

.conE p {
  font-size: 1rem;
  color: var(--main-color);
  margin-left: 2rem;
}

.conE .text {
  text-align: left;
}

.en {
  letter-spacing: 0.14rem;
}

input, textarea {
  outline:none;
  color: var(--dark-main-color);

  padding: 1rem;
  margin-bottom:3rem;

  border: none;
  background:var(--light-main-color);

  border-radius: 5px;

  width: 100%;
  max-width: 600px;
  max-width: var(--main-color);


  letter-spacing: 0.3rem;
  font-size: clamp(16px, 1vw, 24px);
}

.btn{
  color: #fff;
  color: var(--icon-color);
  background-color: var(--accent-color);

  font-size: clamp(16px, 1vw, 24px);
  letter-spacing: 0.3rem;

  border-radius:4rem;

  margin-top:15px;
  margin-bottom:25px;
  padding: 30px;
  margin-left: 2rem;
  
  width: 50%;
  max-width: 300px;

  border: none;
  transition: .5s;
  display: inline-block;
  cursor: pointer;
}

input:first-of-type{
  margin-top:35px;
}

.send[disabled] {
  background-color: var(--gray-main-color);
  cursor: not-allowed;
}

::placeholder {
  color: var(--accent-color);
}

label{
  margin-right: auto;
  }