/* 基本色 */
:root {
  --main-color : #B4CBD9;/*rgba(180, 203, 217, 0)*/
  --accent-color : #f2af05 ;/*rgba(242, 175, 2, 0)*/
  --dark-main-color : #333; /*rgba(51, 51, 51, 0)*/
  --gray-main-color : #ddd;
  --light-main-color : #fff;
  --text-bright-color : #f2f2f2; /*rgba(242, 242, 242, 0)*/

  --large-width:1000px;
  --midddle-width:800px;
  --small-width:600px;
}
@media (min-width:768px) {

    .conC .container {
      display: flex;
      max-width: 1000px;
      max-width: var(--large-width);
      margin-left: auto;
      margin-right: auto;
    }

    .conC .photo {
      flex: 0 0 400px;    
    }

    .conC .photo2 {
      flex: 0 0 400px;
      }

    .conC .text {
      flex: 1;
      padding: 2.5rem;
    }  
}
  
@media (min-width:768px) {
    .conD .container {
      display: flex;
      flex-direction: row-reverse;
      max-width: 1000px;
      max-width: var(--large-width);
      margin-left: auto;
      margin-right: auto;
      padding-top: 4.5rem;
      padding-bottom: 4.5rem;
    }
  
    .conD .photo {
      flex: 0 0 400px;
    }

  
    .conD .text {
      flex: 1;
      padding: 2.5rem;
    }
}

@media (max-width: 500px) {



} 

