@media (min-width:768px) {

  .conC .container {
    max-width: var(--large-width);
    margin-left: auto;
    margin-right: auto;
  }

  .conC .photo {
    flex: 0 0 400px;
  }

  .conC .photo2 {
    flex: 0 0 400px;
  }

  .conC .text {
    flex: 1;
    padding: 2.5rem;
  }
}

@media (min-width:768px) {
  .conD .container {
    flex-direction: row-reverse;
    max-width: var(--large-width);
    margin-left: auto;
    margin-right: auto;
  }

  .conD .photo {
    flex: 0 0 400px;
  }


  .conD .text {
    flex: 1;
    padding: 2.5rem;
  }
}

@media (max-width: 500px) {

  .conC .text,
  .conD .text {
    text-align: left !important;
  }

}

@media (min-width: 768px) {

  .conC .container,
  .conD .container {
    padding: 4.5rem 0;
  }

}