/* 基本色 */
:root {
   --main-color : #B4CBD9;/*rgba(180, 203, 217, 0)*/
   --accent-color : #f2af05 ;/*rgba(242, 175, 2, 0)*/
   --dark-main-color : #333; /*rgba(51, 51, 51, 0)*/
   --gray-main-color : #ddd;
   --light-main-color : #fff;
   --text-bright-color : #f2f2f2; /*rgba(242, 242, 242, 0)*/
 
   --large-width:1000px;
   --midddle-width:800px;
   --small-width:600px;
 }
  .bread ol{
   display: flex;
   margin-left:  2rem;
   padding: 0;
   list-style: none;
   
   }
   
   .bread a {
       display: block;
       padding: 5px;
       color: var(--light-main-color);
       font-size: 0.875rem;
       text-decoration:none;
       letter-spacing: 0.3rem;
   }

   .bread a::after{
      margin-left: 10px;
      content: '\f054';
      font-family: 'FontAwesome';
      opacity: 0.3;
  }

  .bread a:hover{
   background-color: rgba(51,51,51,0.1);
}

  

   .listC h1 {
    text-align: center;
   }

   .listC .container {
    display: flex;
    flex-wrap: wrap;
    max-width: none;
    margin: 30px auto;
   }

   .listC article{
    flex: 1 1 250px;
    display: flex;
   }

   .listC a {
    position:relative;
    flex: 1;
    margin: 10px;
    display: block;
    background-color: currentColor;
    color: inherit;
    text-decoration: none;
   }
   


   .listC .photo {
    min-height: 250px;
    background-position: center;
    background-size:cover;
    opacity: 0.8; 
   }

/* 上がりすぎてる画像調整 */
   .listC .photo_tbr {
    min-height: 250px;
    background-position: 30% 30%;
    background-size:cover;
    opacity: 0.6; 
   }
/* 下がりすぎてる画像調整 */
   .listC .photo_tbr2 {
    min-height: 250px;
    background-position: 80% 80%;
    background-size:cover;
    opacity: 0.6; 
   }
   

   .listC .text {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    color: #fff;
    color: var(--icon-color);
   }

   .listC h2 {
    margin: 0;
    font-size: 18px;
    color: #fff;
    color: var(--icon-color);
   }
   .listC p{
    margin:  0;
    font-size: 14px;
    opacity: 0.8;
    color: #fff;
    color: var(--icon-color);
   }

/*------------------------------------
ふわっとCSS↓
------------------------------------*/
.fadeup {
   animation-name: fadeupAnime;
   animation-duration: 0.8s;
   animation-fill-mode: forwards;
   opacity: 0;
 }
 @keyframes fadeupAnime{
   from {
   opacity: 0;
   transform: translateX(-100px); /*左から出現*/ 
   }
   to {
   opacity: 1;
   transform: translateY(0);
   }
 }
 @media screen and (max-width: 600px) {
   .fluffy img {
     width: 100%;
     margin: auto;
     display: block;
     padding: 10px 0;
   }
 }