
@media (min-width:1000px){
    .listC article {
      flex: 1 1 25%;
    }
    .listC article:nth-child(4n+1) {
        flex: 1 1 50%;
    }
   }

/* スマホのときだけ全表示 */
@media (max-width: 500px) {
    .listC .photo { 
        background-size:contain;
        background-repeat: no-repeat;
    }

    .bread{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
    }
  } 
