
.news .container {
  max-width: 800px;
  max-width: var(--midddle-width);
  padding: 10px 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.news p {
  font: 16px;
  line-height: 0;
}


.text {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  max-width: 800px;

}

.news {
  color: var(--light-main-color);
}

.news .btn {
  display: block;
  color:var(--accent-color);
  text-decoration:none;
  letter-spacing: 0.3rem;
  word-break: keep-all;
}


.news h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.news table {
  border-collapse: collapse; /* テーブルの線を取っ払う */
  font-size: 0.875rem;
}



.news th,
.news td {
  padding-top: 0.8rem;
  padding-bottom: 1rem;
  vertical-align: baseline;
  letter-spacing: 0.3rem;
}

.news th {
  padding-right: 1rem;
  text-align: left;
  word-break: keep-all;
}

.news a:hover {
  text-decoration: underline;
  cursor: pointer;
}

