
  /* phone */
  @media (max-width: 768px) {

  .table {
        width: 100%;
      }
      .table th,
      .table td {
        display: block;
        width: 100%;
        border-bottom:none;
      }

    table td {
      overflow-wrap:anywhere;
      word-wrap: break-word;
      white-space: normal;
    }

  }
  