
/* conA */

.conA {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 450px;
    background-image:url(../img/success.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: var(--text-bright-color);

  }
  
  .conA h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: 'Montserrat',sans-serif;
    font-size: 15vw;
    letter-spacing: 0.1em;
    margin-left: 0.2em;
    color: var(--dark-main-color);
  }
  
  .conA p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    letter-spacing: 0.23em;
    line-height: 1.5em;
    color: var(--dark-main-color);
  }
  
  .conA img{
    width: 30%;
  }