/* 基本色 */
:root {
    --main-color : #B4CBD9;/*rgba(180, 203, 217, 0)*/
    --accent-color : #f2af05 ;/*rgba(242, 175, 2, 0)*/
    --dark-main-color : #333; /*rgba(51, 51, 51, 0)*/
    --text-bright-color : #f2f2f2; /*rgba(242, 242, 242, 0)*/
    --icon-color : #fff;
    --icon-bk-color : #ddd;
    --gray-color :#ddd;
    --large-width:1000px;

}

@media (prefers-color-scheme: dark) {
    body {
      background-color: var(--dark-main-color);
      color: var(--text-bright-color);
    }
  }

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, 
    ".SFNSDisplay-Regular", "Hiragino Sans", "Hiragino Kaku Gothic ProN",
    Helvetica, "游ゴシック Medium", meiryo, sans-serif;
    font-size: 16px;
    letter-spacing: 0.1rem;
}

/* リンクをちょうどいい位置に飛ばす */
a.anchor {
    display: block;
    padding-top: 150px;
    margin-top: -150px;
}

/* ロード時にページ全体をフェードイン */
body {
animation: fade 3s;
}

@keyframes fade {
    0% {opacity: 0;
    }
    100% {opacity: 1;
    }
}

body p {
    color: #333;
    color: var(--dark-main-color);
}
   

/* 要素フェードイン */
/* クラス名に「.scroll_fadein」追加でOK */

.scroll_fadein{
    opacity: 0;
  }

  .fadein_animation_start{
    /* キーフレームアニメーションを指定 */
    animation-name: fadein_animation;
    /* // アニメーションの開始時間の遅延 */
    animation-delay: 0.2s;
    /* // アニメーションの時間を指定 */
    animation-duration: 1s;
    /* //アニメーション再生後のスタイルを指定 */
    animation-fill-mode: both;
  }
  @keyframes fadein_animation{
    0% {
      opacity: 0;
    }
    100%{
      opacity: 1;
      transform: translate(0);
    }
  }
  .slideup{
    transform: translateY(50px);
  }
  .slidedown{
    transform: translateY(-50px);
  }
  .slideright{
    transform: translateX(50px);
  }
  .slideleft{
    transform: translateX(-50px);
  }
   
/*-----ここからheader-----*/

header {
    top: 0;
    left: 0;
    z-index: 100;     /*← 一番上のレイヤーにする */
    width: 100%;
    position: absolute;
    background-color: rgba(242, 175, 2, 0.7);
}

.nohero header {
    position: static;  
    margin-bottom: 3rem;
}

/* こっちが上 */
.nohero .head-fixed + * {
    margin-top: 150px;
}

/* こっちが下 */
.head-fixed,
.nohero .head-fixed {
    position: fixed;
}



/*.headA {
    display: inline-block;
    line-height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #B4CBD9;
    background-color:var(--main-color) ;
    color: #f2f2f2;
    color: var(--text-bright-color);
    font-family:'Montserrat',sans-serif; 
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 0.1rem; 
}*/

.headB ul{
margin-right:  2rem;
padding: 0;
list-style: none;

/* menu右寄せ */
text-align: right;
}

.headB a {
    display: block;
    padding: 15px;
    color: #333;
    color: var(--dark-main-color);
    font-size: 20px;
    text-decoration:none;
    letter-spacing: 0.3rem;
}
  
/*-----ここまでheader-----*/

 /* title */

 .title {
    font-weight:normal;
    letter-spacing: 0.3rem;
    margin-bottom: 3rem;
    text-align: center;
    color: #333;
    color: var(--dark-main-color);
  }

.sub_title {
    font-weight:normal;
    letter-spacing: 0.3rem;
    margin-bottom: 3rem;
    text-align: center;

    color: #B4CBD9;
    color: var(--main-color);

    font-size: 1.5rem;
    letter-spacing: 0.3rem;

    margin-bottom: 3rem;
    text-decoration: none;
    
}

.jp{
    margin-bottom: 3rem;
}


/*-----ここからfoooter-----*/


.footer {
    
    width: 100%;
    height: auto;
    bottom:0;

    background-color: #333;
    background-color: var(--dark-main-color);
    color: #f2f2f2;
    color: var(--text-bright-color);

    margin-top: auto;
}

.footer .container {
    padding: 2rem 2rem;
    text-align: left; 
    margin-top: 3rem; 
    margin-left: 1rem;
    margin-right: 1rem;
}

/* footA */
.footA {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.footA h2{
    margin-top:0 ;
    margin-bottom: 1rem;
    font-family:'Montserrat',sans-serif;  
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

.footA p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2rem;
    letter-spacing: 0.2rem;
    color: #f2f2f2;
    color: var(--text-bright-color);;
}

.footA a {
    color: inherit;
    text-decoration: none;
    letter-spacing: 0.2rem;
}

/* footB */

.footB div {
    margin-bottom: 2rem;
}

.footB ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footB a {
    display: block;
    padding: 5px;
    color: inherit;
    text-decoration: none;
    letter-spacing: 0.3rem;
    margin-bottom: 1rem;
}

.footB a:hover{
    background-color: rgba(51,51,51,0.1);
}

/* footC */

.footC {
    border-top: solid 1px currentColor;
    padding-top: 3rem;
    text-align: center;
    font-family:'Montserrat',sans-serif;  
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
}

/* footD */

.footD {
    margin-top: 2rem;
}

.footD ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footD a {
    display: block;
    margin-right: 1.5rem;
    color :#B4CBD9;
    color: var(--main-color);
    font-size: 42px;
    text-decoration: none;
}

.footD a:hover{
    background-color:rgba(51,51,51,0.1) ;
}

/*-----ここまでfoooter-----*/

  
/* pege topにとぶ */


#page_top{
    width: 90px;
    height: 90px;
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0.6;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #B4CBD9;
    color: var(--main-color);
    position: absolute;
    width: 25px;
    height: 25px;
    top: -40px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
  #page_top a::after{
    content: 'PAGE TOP';
    font-size: 13px;
    color: #fff;
    color: var(--icon-color);
    position: absolute;
    top: 45px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    color: #B4CBD9;
    color: var(--main-color);
  }  

 